extends layout

block content
	h2= 'Færslur notanda ' + user.username
	if (list)
		.list-group(role='group')
			each item, index in list
				- icon = 'glyphicon'
				if (item.content.checked)
					- icon += ' glyphicon-th-list'
				else
					- icon += '  glyphicon-pencil'
				a(class='list-group-item' 
					href='/entries/' +item.id,
					id=item.id)
					p(class='text-left')= item.date 
					span(class = icon)
					h4(class='text-left')= item.title