extends layout

block content
	.row
		.col-md-2
			.list-group.saved-entries(role='group')
				.list-group.saved-entries(role='group')
					if (list)	
						each item, index in list
							if (activeItem == item.id)
								a(class='list-group-item entrylist-item active',
									href='/entries/my_entries?id='+item.id,
									id=item.id)
										p(class='text-left')= item.date 
										h4(class='text-left')= item.title
							else
								a(class='list-group-item entrylist-item', 
								href='/entries/my_entries?id='+item.id,
								id=item.id)
									p(class='text-left')= item.date 
									h4(class='text-left')= item.title

		.textsection.col-md-8
			form#form(action='/entries/my_entries', method='post')
				.form-group
					input#title.form-control(name='title', 
						placeholder='Titill',
						value = formTitle)
					input(type='hidden' name='id' value=activeItem)
				.form-group
					textarea#content.form-control(name='content', 
						placeholder='Your stuff here...', 
						rows='20')
						= formContent.content
				.form-group
					button#save.btn.btn-primary.btn-lg(type='submit')
						span.glyphicon.glyphicon-ok
						|  Vista
					button#delete.btn.btn-warning.pull-right(type='button')
						span.glyphicon.glyphicon-remove
						|  Eyða
		.sidebar-right.col-md-2
			form(action='/entries/new' method='post')
				button#new.btn.btn-info.btn-block(type='submit')
					span.glyphicon.glyphicon-sunglasses
					|  Ný færsla
			p.counter
				span#character-count 0
				|  stafir
			p.counter
				span#word-count 0
				|  orð
			//- button#strip.btn.btn-info.btn-block
			//- 	span.glyphicon.glyphicon-flash
			//- 	|  Hreinsa HTML
			//- button#reverse.btn.btn-info.btn-block
			//- 	span.glyphicon.glyphicon-sunglasses
			//- 	|  Snúa texta við

	//script(src='/javascripts/my_entries.js')