extends layout

block content
	.row
		.col-md-2
			.list-group.saved-entries(role='group')
				if (list)	
					each item, index in list
						- klass = 'list-group-item entrylist-item'
						- icon = 'list-icon glyphicon'

						if (activeItem == item.id)
							- klass += ' active'
						if (item.content.checked)
							- klass += ' list'
							- icon += ' glyphicon-th-list'
						else
							- klass += ' memo'
							- icon += '  glyphicon-pencil'

						a(class=klass, 
							href='/entries/my_entries' + path + '?id='+item.id,
							id=item.id,
							data-title=item.title,
							data-content=item.content)
								p(class='text-left')= item.date 
								span(class = icon)
								h4(class='text-left')= item.title

		.textsection.col-md-8
			form#form(action='/entries/my_entries' + path, method='post')
				.form-group
					input#title.form-control(name='title', 
						placeholder='Titill',
						value = formTitle)
					input(type='hidden' name='id' value=activeItem)
				.form-group.textarea
					if formContent.checked
						.checklist-box
							.unchecked
								ul
									each item, index in formContent.content
										if !formContent.checked[index]
											li.checklist-item.list(id='c' + index, data-checked='false')
												form(action='/entries/my_entries?list=true')
													span.glyphicon.glyphicon-ok
														button.checkmark(type='submit')
													input(type='hidden', name='item'
															value='{id:' + activeItem + ', index:' + index)
													input(type='text', name='content', 
																class='content', value=item)

									li.checklist-item
										form(action='/entries/my_entries?list=true', id='new-form')
											span.glyphicon.glyphicon-plus
												button#new-check(type='submit')
											input.new-item(type='text', name='foo', 
													placeholder='Bættu einhverju við',
													autocomplete='off')

							.checked
								ul
									each item, index in formContent.content
										if formContent.checked[index]
											li.checklist-item(id='c' + index, data-checked='true')
												form(action='/entries/my_entries?list=true')
													span.glyphicon.glyphicon-ok
														button.checkmark(type='submit')
													input(type='hidden', name='item'
															value='{id:' + activeItem + ', index:' + index)
													input(type='text', name='content', value=item)
											
					else
						textarea#content.form-control(name='content', 
							placeholder='Your stuff here...', 
							rows='20')
							= formContent.content
				.form-group
					button#save.btn.btn-primary.btn-lg(type='submit')
						span.glyphicon.glyphicon-ok
						|  Vista
					button#delete.btn.btn-warning.pull-right(type='submit',
							formaction='/entries/delete')
						span.glyphicon.glyphicon-remove
						|  Eyða
		.sidebar-right.col-md-2
			.form-group
				form(action='/entries/new' method='post')
					a#new.btn.btn-info.btn-block(href='/entries/my_entries')
						span.glyphicon.glyphicon-sunglasses
						|  Ný færsla
			.form-group
				form
					a#newlist.btn.btn-info.btn-block(href='/entries/my_entries?list=new')
						span.glyphicon.glyphicon-sunglasses
							|  Nýr checklist
			.form-group
				.btn-group.btn-group-justified(role='group')
					a.btn.btn-default#memobtn(href='/entries/my_entries/memos') Memo
					a.btn.btn-default#listbtn(href='/entries/my_entries/lists') Listar
					a.btn.btn-default#allbtn(href='/entries/my_entries') Allt

			p.counter
				span#character-count 0
				|  stafir
			p.counter
				span#word-count 0
				|  orð
			//- button#strip.btn.btn-info.btn-block
			//- 	span.glyphicon.glyphicon-flash
			//- 	|  Hreinsa HTML
			//- button#reverse.btn.btn-info.btn-block
			//- 	span.glyphicon.glyphicon-sunglasses
			//- 	|  Snúa texta við

	script(src='/javascripts/my_entries.js')